<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title Page</title>
    <link rel="stylesheet" href="index.css">
</head>
<header>

</header>
<body>
    <div id="backgroundDivTag">
        <h1 th:text="${message}">hello world</h1> <!-- Thymeleaf syntax -->
    </div>

    <div class="flex-container-horizontal">
        <section id="IconsSection">
            <div class="flex-container">
                <a href="https://github.com/Divante222?tab=repositories"><img class="Icon" src="GithubIcon.jpg" alt="Coming soon"></a>
                <a href="https://www.linkedin.com/in/divante-parness/"><img class="Icon" src="LinkedInIcon.jpg" alt="Coming soon"></a>
            </div>
        </section>

        <section id="HeadshotSection">
            <div class="flex-container">
                <img id="HeadshotImage" src="divante_parness_headshot.jpg" alt="Something went wrong">
                <div class="SectionDivider"></div>
            </div>
        </section>

        <section id="ProjectListSection"> 
            <div id="projectLinks">
                <a href="https://github.com/Divante222/ToDoList"><h3 class="ApplicationHeaders">Task Management Application JAVAFX</h3>
                                                                                    <p class="ApplicationContent">A JavaFX task management application is a software tool designed to help users organize,
                                                                                   <br> track, and manage tasks or projects in an intuitive and visually appealing interface </p></a>
            </div>

            <div id="projectLinks">
                <a href="https://github.com/Divante222/textGame"><h3 class="ApplicationHeaders">Text Game</h3>
                                                                                    <p class="ApplicationContent">An epic fantasy text adventure where you step into the boots of a fearless hero,
                                                                                        <br>battling through ten relentless waves of ferocious goblins in a quest for glory.</p></a>
            </div>
        </section>
    </div>

</body>
<footer>

</footer>
</html>  